# MAC
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-error.log*

# Dependency directories
node_modules

# workspace
.vscode/
.idea/

# build output
dist/
temp/
packages/*/dist/
examples/*/build
benchmark.csv
